{% import 'macro.twig' as macro %}




<h2 class="titre">Les séjours à venir</h2>

<div>
    <p>a faireeeeeeeeeeeeee : </p>
    <p>Lors de l'ajout du séjour ajouter au data: la famille et le mail de l'utilisateur</p>
    <p>puis ajouter des bouton de filtre du type "mes séjour", "leur séjour", "tous"</p>
</div>

<ul class="df fd-c gap-cadre-s">
    
    {% for item in sejours %}

            {% if item.departReel|date("U") > "now"|date("U") %}

                {{ macro.cadreSejour({
                    titre:                  item.title,
                    dateStart:              item.start,
                    departReel:             item.departReel,
                    commentaire:            item.commentaire
                }) }}

            {% endif %}

    {% endfor %}
</ul>