<h2 class="titre">Mes séjours</h2>

<p>a faireeeeeeeeeeeeee</p>


<ul class="df fd-c gap-cadre-s">
            <li class="cadre-s gap-cadre-s bg-neutral-100 df ai-e jc-sb">
        <div>
            <h3 class="sous-titre">Exemple de titre</h3>
            <p class="exergue">01/01/2023 au 01/01/2023</p>
                            <p style="color:var(--neutre-500)">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                    </div>
    </li>

            <li class="cadre-s gap-cadre-s bg-neutral-100 df ai-e jc-sb">
        <div>
            <h3 class="sous-titre">
                <span class="font-400">Du</span>
                01/01/2023
                <span class="font-400">au</span>
                01/01/2023
            </h3>
            <p class="exergue">Exemple de titre</p>
            <p style="color:var(--neutre-500)">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                    </div>
    </li>

</ul>

    