{% import 'macro.twig' as macro %}



{% set sejourAVenir = false %}

{% for item in sejours %}
    {% for famille in item.validation %}
        {% if famille.id == session.utilisateur.famille and famille.accord != '' %}
            {% if item.departReel|date("U") > "now"|date("U") %}
                {% set sejourAVenir = true %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endfor %}


{% if sejourAVenir %}
    <div class="cadre-m bg-blanc df fd-c gap-m">
        <div class="text-center hide-for-medium">
            <a href="#addSejour">Ajouter un séjour</a>
        </div>

        <h2 class="titre">Les séjours à venir</h2>

        <div class="tabs hide">
            <input class="sr-only" type="radio" id="perso" name="filtreSejour" checked>
            <label class="tabs__label" for="perso">Mes séjours</label>
            <input class="sr-only" type="radio" id="autre" name="filtreSejour">
            <label class="tabs__label" for="autre">Les autres</label>
            <input class="sr-only" type="radio" id="tous" name="filtreSejour">
            <label class="tabs__label" for="tous">Tous</label>
        </div>

        <div class="df ai-c fw-w gap-s">
            <p class="exergue">Filtre :</p>
            <ul class="df gap-s">
                <li>
                    <button data-class-off="v-outline" class="btn v-petit js_filtreTous" type="button" title="Tous affiché" aria-pressed="true">
                        Tous
                    </button>
                </li>
                <li>
                    <button data-class-off="v-outline" class="btn v-petit js_filtrePerso v-outline" type="button" title="Afficher les séjours de ma famille" aria-pressed="false">
                        Mes séjours
                    </button>
                </li>
                <li>
                    <button data-class-off="v-outline" class="btn v-petit js_filtreAutres v-outline" type="button" title="Afficher les autres séjours" aria-pressed="false">
                        Les autres
                    </button>
                </li>
            </ul>
        </div>

        <ul class="df fd-c gap-s js_listeAFiltre" data-famille="{{ session.utilisateur.famille }}" aria-live="polite">

            {% for item in sejoursAVenirValideParFamille |sort((a, b) => a.start|date("U") > b.start|date("U")) %}

                {% if session.utilisateur.famille == item.pourFamille %}
                    {% set btnSupprimer = true %}
                {% else %}
                    {% set btnSupprimer = false %}
                {% endif %}

                {% set listeFamilleNonAccord %}
                    {% for famille in item.validation %}
                        {% if famille.accord == '' %}
                            <li>{{famille.label}}</li>
                        {% endif %}
                    {% endfor %}
                {% endset %}

                {{ macro.cadreSejour({
                    sejourKey:              sejourKey,
                    dataAjout:              item.dataAjout,
                    titre:                  item.title,
                    dateStart:              item.start,
                    departReel:             item.departReel,
                    commentaire:            item.commentaire,
                    parUtilisateur:         item.parUtilisateur,
                    pourFamille:            item.pourFamille,
                    btnSupprimer:           btnSupprimer,
                    listeFamilleNonAccord:  listeFamilleNonAccord,
                    session:                session,
                }) }}

            {% endfor %}

        </ul>

        {{ include('bloc/lien-historique.twig') }}


    </div>
{% endif %}