{% import 'macro.twig' as macro %}



{% set sejourAVenir = false %}

{% for item in sejours %}
    {% for famille in item.validation %}
        {% if famille.id == session.utilisateur.famille and famille.accord != '' %}
            {% if item.departReel|date("U") > "now"|date("U") %}
                {% set sejourAVenir = true %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endfor %}


{% if sejourAVenir %}
    <div class="cadre-m bg-neutral-000 df fd-c gap-m">
        <div class="hide-for-medium">
            <a href="#addSejour" class="btn-2">Ajouter un séjour</a>
        </div>

        <h2 class="titre">Les séjours à venir</h2>

        <div class="tabs">
            <input class="sr-only" type="radio" id="perso" name="filtreSejour" checked>
            <label class="tabs__label" for="perso">Mes séjours</label>
            <input class="sr-only" type="radio" id="autre" name="filtreSejour">
            <label class="tabs__label" for="autre">Les autres</label>
            <input class="sr-only" type="radio" id="tous" name="filtreSejour">
            <label class="tabs__label" for="tous">Tous</label>
        </div>

        <ul class="df gap-s">
            <li>
                <button class="btn-2 js_filtrePerso v_off" type="button" title="Afficher les séjours de ma famille" aria-pressed="false">
                    Mes séjours
                </button>
            </li>
            <li>
                <button class="btn-2 js_filtreAutres v_off" type="button" title="Afficher les autres séjours" aria-pressed="false">
                    Les autres
                </button>
            </li>
            <li>
                <button class="btn-2 js_filtreTous" type="button" title="Tous affiché" aria-pressed="true">
                    Tous
                </button>
            </li>
        </ul>

        <ul class="df fd-c gap-s js_listeAFiltre" data-famille="{{ session.utilisateur.famille }}" aria-live="polite">
            
            {% for item in sejours %}
                    {% set sejourKey = loop.index %}

                    {% for famille in item.validation %}
                        {% if famille.id == session.utilisateur.famille and famille.accord != '' %}
                            {% if item.departReel|date("U") > "now"|date("U") %}

                                {% if session.utilisateur.famille == item.pourFamille %}
                                    {% set btnSupprimer = true %}
                                {% else %}
                                    {% set btnSupprimer = false %}
                                {% endif %}

                                {% set listeFamilleNonAccord %}
                                    {% for famille in item.validation %}
                                        {% set familleKey = loop.index - 1 %}
                                        {% if famille.accord == '' %}
                                            {% for toutesLesFamilles in familles %}
                                                {% set key = loop.index - 1 %}
                                                {% if key == familleKey %}
                                                    <li class="exergue">- {{toutesLesFamilles.label}}<li>
                                                {% endif %}
                                            {% endfor %}  
                                        {% endif %}
                                    {% endfor %}
                                {% endset %}

                                {{ macro.cadreSejour({
                                    sejourKey:              sejourKey,
                                    titre:                  item.title,
                                    dateStart:              item.start,
                                    departReel:             item.departReel,
                                    commentaire:            item.commentaire,
                                    parUtilisateur:         item.parUtilisateur,
                                    pourFamille:            item.pourFamille,
                                    btnSupprimer:           btnSupprimer,
                                    listeFamilleNonAccord:  listeFamilleNonAccord,
                                }) }}

                            {% endif %}
                        {% endif %}
                    {% endfor %}

            {% endfor %}
        </ul>

        <p>
            <a href="{{ getenv('APP_URL') }}index.php?p=historique" class="btn-4">Accéder au tableau complet et à l'historique</a>
        </p>


    </div>
{% endif %}