{% import 'macro.twig' as macro %}

{% if sejoursAttenteDeFamille %}
    <div class="cadre-m bg-jaune df fd-c gap-m">
        <h2 class="titre">En attente...</h2>

        <ul class="df fd-c gap-s">
            {% for item in sejoursAttenteDeFamille | sort((a, b) => a.start|date("Y-m-d H:i:s") > b.start|date("Y-m-d H:i:s"))  %}

                {{ macro.cadreSejour({
                    type:                   'aValider',
                    pageRetourValidation:   'dashboard',
                    sejourKey:              sejourKey,
                    dataAjout:              item.dataAjout,
                    titre:                  item.title,
                    dateStart:              item.start,
                    departReel:             item.departReel,
                    commentaire:            item.commentaire,
                    parUtilisateur:         item.parUtilisateur,
                }) }}

            {% endfor %}
        </ul>
    </div>

    {% if not sejoursAVenirValideParFamille %}
        {{ include('bloc/lien-historique.twig') }}
    {% endif %}

{% endif %}