{% import 'macro.twig' as macro %}



{% set demandeEnAttente = false %}

{% for item in sejours %}
    {% for famille in item.validation %}
        {% if famille.id == session.utilisateur.famille and famille.accord == '' %}
            {% set demandeEnAttente = true %}
        {% endif %}
    {% endfor %}
{% endfor %}




{% if demandeEnAttente %}
    <div class="cadre-m bg-secondary df fd-c gap-cadre-m">
        <h2 class="titre">En attente...</h2>

        Bouton valider a faireeeeeeeeeeeeeeeeeeeeeeeeeee

        <ul class="df fd-c gap-cadre-s">
            {% for item in sejours %}
                {% for famille in item.validation %}
                    {% if famille.id == session.utilisateur.famille and famille.accord == '' %}
                         {% if item.departReel|date("U") > "now"|date("U") %}

                            {{ macro.sejourAValider2({
                                titre:          item.title,
                                dateStart:      item.start,
                                departReel:     item.departReel,
                                commentaire:    item.commentaire
                            }) }}

                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}