Options -Indexes
#ErrorDocument 403 https://www.pierretl.fr/allegretto/
#ErrorDocument 404 https://www.pierretl.fr/allegretto/index.php?p=404

<Files ~ ".env">
  Order Allow,Deny
  Deny from all
</Files>

RewriteEngine off