$breakpoint-m:   #{rem.convert(768px)};
$breakpoint-l:    #{rem.convert(1200px)};
$breakpoint-xl:   #{rem.convert(1600px)};

:root {
    --app-main-max: #{$breakpoint-l};
    --app-main-marge: 1rem;
    --app-main-gap: 1rem;

    --spacing-s: .5rem;
    --spacing-m: 1rem;
    --spacing-l: 2rem;

    --radius-m: #{rem.convert(12px)};
    --radius-s: calc(var(--radius-m) - (var(--spacing-m) / 2));

    --primary-400:#1d63ff;
    --secondary-400:#ffce32;
    --red-700: hsl(360,89%,41%);
    --couleur7: #6E7588; //a renommer dans les datas
    --couleur8: #006706; //a renommer dans les datas

    --neutre-900: #152342;
    --neutre-700: #475569;
    --neutre-500: #677588;
    --neutre-300: #d4dde9;
    --neutre-100: #f2f5f6;
    --neutre-000: #ffffff;

    --color-blanc:    #FFFFFF;//fond
    --color-gris-100: #F4F5F6;//fond
    --color-gris-200: #C0C5CC;//bordure ?
    --color-gris-300: #979FAD;
    --color-gris-400: #768191;
    --color-gris-500: #515D72;//clair
    --color-gris-600: #394556;
    --color-gris-700: #273344;//body
    --color-gris-800: #15202D;
    --color-gris-900: #0C1423;

    --color-blue-100: #EBF1FF;
    --color-blue-200: #B9CEF9;
    --color-blue-300: #85B1FF;
    --color-blue-400: #4B92F9;
    --color-blue-500: #1D63FF;//logo, lien
    --color-blue-600: #1153C9;
    --color-blue-700: #083D9B;//exergue ?
    --color-blue-800: #042C66;//titre
    --color-blue-900: #00133D;

    --color-jaune:    #FFCB24;//logo
    --color-rouge:    #C61717;//erreur
    --color-vert:     #1D820B;//succes



    --nav-border: var(--neutre-300);

    --selection-bg:     var(--primary-400);
    --selection-color:  var(--neutre-000);

    --outline-width: #{rem.convert(2px)};

    --btn-1-bg:     var(--neutre-000);
    --btn-1-color:  var(--neutre-900);
    --btn-1-weight: 600;

    --btn-2-bg:     var(--neutre-000);
    --btn-2-color:  var(--primary-400);
    --btn-2-border: var(--form-border);

    --btn-min-height:       3rem;
    --btn-padding-block:    calc(var(--spacing-s) / 2);
    --btn-padding-inline:   var(--spacing-s);
    --btn-bg:               var(--primary-400);
    --btn-border:           transparent;
    --btn-color:            var(--neutre-000);

    --form-min-height:          var(--btn-min-height);
    --form-min-height--small:   1.87rem;
    --form-padding:             1rem;
    --form-bg:                  var(--neutre-000);
    --form-border:              var(--neutre-300); 

}
