$breakpoint-m:   #{rem.convert(768px)};
$breakpoint-l:    #{rem.convert(1200px)};
$breakpoint-xl:   #{rem.convert(1600px)};

:root {
    --color-blanc:    #FFFFFF;//fond

    --color-gris-100: #F4F5F6;//fond
    --color-gris-200: #C0C5CC;//bordure ?
    --color-gris-300: #979FAD;
    --color-gris-400: #768191;
    --color-gris-500: #515D72;//clair
    --color-gris-600: #394556;
    --color-gris-700: #273344;//body
    --color-gris-800: #15202D;
    --color-gris-900: #0C1423;

    --color-bleu-100: #f2f5fa;//#EBF1FF
    --color-bleu-200: #B9CEF9;
    --color-bleu-300: #85B1FF;
    --color-bleu-400: #4B92F9;
    --color-bleu-500: #1D63FF;//logo, lien
    --color-bleu-600: #1153C9;
    --color-bleu-700: #083D9B;//exergue
    --color-bleu-800: #042C66;//titre
    --color-bleu-900: #00133D;//titre fond jaune

    --color-jaune-300:#EFEB5D;//sejour soumis
    --color-jaune-500:#FFCB24;//logo

    --color-vert-300: #62D483;//sejour valide
    --color-vert-500: #1D820B;//ok

    --color-rouge-500:#C61717;//nok

    --app-main-max: #{$breakpoint-l};
    --app-main-marge: 1rem;
    --app-main-gap: 1rem;

    --spacing-s: .5rem;
    --spacing-m: 1rem;
    --spacing-l: 2rem;

    --radius-m: #{rem.convert(16px)};
    --radius-s: calc(var(--radius-m) - (var(--spacing-m) / 2));

    --loader-taille: 20px;

    --outline-width: #{rem.convert(2px)};

    --text-gras: 600;
    
    --color-body:           var(--color-gris-700);
    --color-body-light:     var(--color-gris-500);
    --color-body-exergue:   var(--color-bleu-700);
    --color-body-ok:        var(--color-vert-500);
    --color-body-nok:       var(--color-rouge-500);
    --color-body-titre:     var(--color-bleu-800);
    --color-body-bg:        var(--color-blanc);
    --color-body-bg-dark:   var(--color-gris-100);
    --color-body-border:    var(--color-gris-200); //tableau, formulaire

    --color-soumis:         var(--color-jaune-500);//fond
    --color-valide:         var(--color-vert-300);//fond
    --color-sejour:         var(--color-gris-900);//texte

    --fc-event-soumis:      var(--color-soumis);//pour la coloration de l'event dans le calendrier
    --fc-event-valide:      var(--color-valide);//pour la coloration de l'event dans le calendrier

    --form-min-height:          var(--btn-min-height);
    --form-min-height--small:   1.87rem;
    --form-padding:             1rem;
    --form-bg:                  var(--color-body-bg);
    --form-border:              var(--color-body-border);
    --form-color:                var(--color-body);

    --btn-min-height:       3rem;
    --btn-padding-inline:   calc(var(--spacing-m) * 1.5);
    --btn-border:           transparent;
    --btn-bg:               var(--color-bleu-500);
    --btn-bg-hover:         var(--color-bleu-600);
    --btn-color:            var(--color-blanc);

    --btn-outline-border:         var(--form-border);
    --btn-outline-bg:             var(--form-bg);
    --btn-outline-color:          var(--form-color);
    --btn-outline-hover-border:   var(--btn-bg-hover);
    --btn-outline-hover-bg:       var(--btn-bg-hover);
    --btn-outline-hover-color:    var(--btn-color);

}
