label {
    display: block;
}

input {
    @include form;
    border-color: var(--couleur5);
}

input:focus {
    outline: none;
    border-color: var(--couleur1);
}

input.v_erreur {
    border-color: var(--couleur6);
}