label {
    margin-bottom: .4rem;
    color: var(--color-body);
    font-weight: var(--text-gras);
}

.label-description {
    color: var(--color-body-light);
    font-weight: 400;
}

input,
select {
    width: 100%;
    min-height: var(--form-min-height);
    padding: 0 var(--form-padding);

    background-color: var(--form-bg);
    border: 1px solid var(--form-border);
    border-radius: var(--radius-s);
    
    font-size: 1rem; 
    color: var(--form-color);
}

select {
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='24' viewBox='0 0 32 24'><polygon style='fill: rgb%2855, 70, 73%29' points='0,0 32,0 16,24'></polygon></svg>");
    background-position: center right var(--form-padding);
    background-repeat: no-repeat;
    background-size: 12px 8px,1px 1px;
}


.input-group input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
}

.input-group--erreur {
    --form-border: var(--color-body-nok);
}
.label-erreur {
    color: var(--color-body-nok);
    font-weight: 400;
}

//
fieldset {
    border: 0;
}

fieldset legend {
    float: left;
    width: 100%;
    padding: 0;
}