@mixin font {
    font-family: Valera, Arial, sans-serif;
}

@mixin form {
    @include font;
    width: 100%;
    min-height: $form-min-height;
    border-radius: $form-radius;
    font-size: 1rem;
    border: 2px solid transparent;
    padding: 0 $form-padding;
}

@mixin breakpoint($nom) {

    @if $nom == 'smallOnly' {
        @media screen and (max-width: $page-small) {
            @content
        }
    }

    @else if $nom == 'mediumOnly' {
        @media screen and (min-width: $page-small) and (max-width: $page-medium) { 
            @content
        }
    }

    @else if $nom == 'medium' {
        @media screen and (min-width: $page-small) {
            @content
        }
    }

    @else if $nom == 'dashboard' {
        @media screen and (max-width: $page-dashboard) {
            @content
        }
    }

    @else if $nom == 'large' {
        @media screen and (min-width: $page-large) {
            @content
        }
    }

    @else if $nom == 'cadre1' {
        @media screen and (min-width: $page-cadre1) {
            @content
        }
    }
}