*, ::before, ::after {
    box-sizing: border-box;
}

::selection {
    background: var(--couleur3);
    color: var(--couleur1);
}

@font-face{
    font-family:Valera;
    font-style:normal;
    font-weight:400;
    src:url(font/valera-round.woff2) format("woff2");
    font-display:swap;
}

*:focus {
    outline: 2px solid var(--couleur1);
    outline-offset: .2rem;
}

body {
    @include font;
    min-height: 100vh;
    margin:0;
    background-color: var(--couleur3);
    font-size: 1rem;
    font-weight: 400;
    color: var(--couleur4);
}

body.v_centre {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--couleur1);
}

a {
    padding: 0 1rem;
    border-radius: 9999rem;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

ul.reset {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

h1 { font-size: 1.5rem}
h2 { font-size: 1.2rem}
h3 { font-size: 1rem}

@include breakpoint('large') {
    h1 { font-size: 2rem}
    h2 { font-size: 1.5rem}
    h3 { font-size: 1.2rem}
}

svg {
    fill: var(--couleur1);
}