$app-modal_max-width: 70ch;

.app-modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-modal__content {
    width: 100%;
    max-width: $app-modal_max-width;
    padding-block: 2rem 3rem;
}

.app-modal__content.cadre-m {
    border-radius: var(--radius-m);

    @media screen and (max-width: #{$app-modal_max-width}) {
        border-radius:0;
    }
}