:root {
    @include breakpoint('larger') { 
        --app-main-gap: 2rem;
    }
}

.grid-main {
    gap: var(--app-main-gap);
    
    @include breakpoint('smallOnly') {
        flex-grow: 1;
    }

    @include breakpoint('medium') {
        display: grid;
        grid-template-columns: 
            [full-start task-start tiers1-start]
            3.8fr
            [tiers1-end task-end tiers2-start calendar-start form-start]
            6.1fr
            [calendar-end tiers2-end form-end full-end]
        ;
        grid-template-rows: 
            [task-start calendar-start]
            auto
            [calendar-end]
            auto
            [task-end]
        ;
    }

    @include breakpoint('larger') {
        grid-template-columns: 
            [full-start tiers1-start task-start]
            1fr
            [task-end calendar-start]
            1fr
            [tiers1-end tiers2-start]
            1fr
            [calendar-end form-start]
            1fr
            [tiers2-end form-end full-end]
        ;
        grid-template-rows: 
            [task-start calendar-start]
            auto
            [calendar-end task-end]
        ;
    }
}

@include breakpoint('medium') {
    .grid-main__full {      grid-column: full}
    .grid-main__task {      grid-column: task;      grid-row: task}
    .grid-main__calendar {  grid-column: calendar;  grid-row: calendar}
    .grid-main__form {      grid-column: form}

    .grid-main__tiers1 {    grid-column: tiers1}
    .grid-main__tiers2 {    grid-column: tiers2}
}
