.page {
    margin-right: 1rem;
    margin-left: 1rem;
    width: calc(100% - 2rem);
    max-width: $page-large;

    @include breakpoint('large'){
        margin-right: auto;
        margin-left: auto;
    }
}