fieldset:not(.unset) {
    margin: 0;
    background-color: var(--couleur3);
    box-shadow: $ombre;
    border: 0 none;
    border-radius: $form-radius;
    padding: $padding-cadre;
}

fieldset legend {
    float: left;
    width: 100%;
    padding: 0;
}


fieldset.unset {
    border: 0 none;
    padding: 0;
}

label {
    display: block;
}

input {
    @include form;
    border-color: var(--couleur5);
}

::-webkit-input-placeholder,
::placeholder {
    color: var(--couleur7)
}

select {
    @include form;
    border-color: var(--couleur5);
    background-color: var(--couleur3);
    padding: 0.7rem $form-padding;
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%2855, 70, 73%29'></polygon></svg>");
    background-position: center right 20px,top right 50px;
    background-repeat: no-repeat,repeat-y;
    background-size: 12px 8px,1px 1px;
}

input:focus,
select:focus {
    outline: none;
    border-color: var(--couleur1);
}

input.v_erreur,
select.v_erreur {
    border-color: var(--couleur6);
}