.tableau {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.tableau td {
    padding: 0.5rem;
}

.tableau thead td {
    border-top-width: 0;
    background-color: var(--couleur5);
    line-height: $form-min-height--small;
}
.tableau thead td:first-child {
    border-top-left-radius: $form-radius;
}
.tableau thead td:last-child {
    border-top-right-radius: $form-radius;
}


.tableau tbody tr td {
    border-bottom: 2px solid var(--couleur5);
}
.tableau tbody tr td:last-child {
    border-right: 2px solid var(--couleur5);
}
.tableau tbody tr td:first-child {
    border-left: 2px solid var(--couleur5);
}
.tableau tbody tr:last-child td:first-child {
    border-bottom-left-radius: $form-radius;
}
.tableau tbody tr:last-child td:last-child {
    border-bottom-right-radius: $form-radius;
}
.tableau tbody tr:hover {
    background-color: var(--couleur5);
}