# Separateur et titre
{% macro titre(titre, hr) %}
    {% if not hr %}
        <hr style="border-color:var(--color-bleu-800);margin-top:3rem">
    {% endif %}

    <h2 style="text-transform:uppercase;color:var(--color-bleu-800);font-size:2rem">
        {{ titre }}
    </h2>
{% endmacro %}



# Couleur
{% macro palette(couleur, nom) %}
    <li style="font-size:.9rem;">
        <div style="height:50px;width:110px;background:{{ couleur }}"></div>
        {{ couleur }}
        <br>
        {{ nom }}
    </li>
{% endmacro %}



# bloc
{% macro bloc() %}
    <div style="height:50px;width:50px;background:grey"></div>
{% endmacro %}