<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% if block("title") is defined %}
            {{ block('title') }} - Allegretto
        {% else %}
            Allegretto
        {% endif %}
    </title>
    <link rel="stylesheet" href="style/style.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="style/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="style/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="style/favicon/favicon-16x16.png">
    <link rel="manifest" href="style/favicon/site.webmanifest">
    <link rel="mask-icon" href="style/favicon/safari-pinned-tab.svg" color="#035dfc">
    <meta name="msapplication-TileColor" content="#035dfc">
    <meta name="theme-color" content="#035dfc">
    {% block head %}{% endblock %}
</head>

{% block body %}{% endblock %}

{% block footer %}{% endblock %}

</html>