<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% if block("title") is defined %}
            {{ block('title') }} - Allegretto
        {% else %}
            Allegretto
        {% endif %}
    </title>
    <link rel="stylesheet" href="style/style.css" />
    <link rel="icon" type="image/png" sizes="16x16" href="design/favicon.svg">
    {% block head %}{% endblock %}
</head>

{% block body %}{% endblock %}

</html>