{% extends 'template/base.twig' %}

{% block body %}

<body class="v_centre">

    <div class="cadre1 bg-3">

        <div class="text-center">
            <img src="{{ app_url }}style/img/logo.svg" alt="" loading="lazy" class="logo-login">
            {% if block("titleH1") is defined %}
                <h1 class="mt-0">{{ block('titleH1') }}</h1>
            {% endif %}
        </div>

        

        {% block content %}{% endblock %}
        
    </div>
            
</body>

{% endblock %}