{% extends 'template/base.twig' %}

{% block classBody %}app-modal bg-primary{% endblock %}

{% block mainContent %}

<div class="app-modal__content cadre-m bg-neutral-000 df fd-c gap-l">

    <div class="df fd-c ai-c">
        <img src="style/img/logo.svg" alt="" loading="lazy" class="login-logo">
        {% if block("titleH1") is defined %}
            <h1 class="titre">{{ block('titleH1') }}</h1>
        {% endif %}
        {% if block("sousTitre") is defined %}
            <p>{{ block('sousTitre') }}</p>
        {% endif %}
    </div>

    {% block content %}{% endblock %}
    
</div>

{% endblock %}