{% extends 'template/modal.twig' %}

{% block title %}Page non trouvée{% endblock %}
{% block titleH1 %}404{% endblock %}
{% block sousTitre %}Page non trouvée{% endblock %}

{% block content %}
    <div class="df fd-c ai-c gap-m">
        <p>
            <strong class="sous-titre">Désolé</strong>
            <br>
            On dirait que vous êtes perdu, il n'y a rien ici...
        </p>
        {% if session.utilisateur.mail %}
            {% set href = 'index.php?p=dashboard' %}
        {% else %}
            {% set href = 'index.php?p=connexion' %}
        {% endif %}
        <p>
            <a href="{{ href }}">Retournez à l’accueil</a>
        </p>
    </div>
{% endblock %}