{% extends 'template/defaut.twig' %}

{% block title %}Calendrier{% endblock %}

{% block head %}
    {{ include('include/calendrier-config.twig') }}
{% endblock %}


{% block content %}
    <main id="contenu" class="grid-main" tabindex="-1" role="main">
        <div class="grid-main__full cadre-m v_calendar bg-blanc fc-surcharge df-h100--small-only">
            <div id="calendar"></div>
        </div>
    </main>
{% endblock %}