{% extends 'template/page.twig' %}

{% block title %}Calendrier{% endblock %}

{% block head %}
    {{ include('include/calendrier-config.twig') }}
{% endblock %}


{% block content %}
    <div class="page df fg-1 fc-surcharge">
        <div id="calendar"></div>
    </div>
{% endblock %}