{% extends 'template/boite.twig' %}

{% import 'macro.twig' as macro %}

{% block title %}Connexion{% endblock %}
{% block titleH1 %}Connectez-vous à votre compte{% endblock %}

{% block content %}

    <form action="action/connexion.php" method="post">

        {% if get.erreur %}
            <p class="text-6 mb-1">Nom d'utilisateur ou mot de passe incorrect.</p>
            {% set inputErreur = true %}
        {% endif %}

        {{ macro.input('mail', 'Adresse mail', get.mail, '', inputErreur, 'email') }}

        {{ macro.input('motdepasse', 'Mot de passe', '', '', inputErreur, 'password') }}

        <button name="Submit" type="submit" class="mt-1">Connexion</button>
    </form>

    <p class="text-center">
        <a href="index.php?p=calendrier">Voir le calendrier</a>
    </div>
   
{% endblock %}