{% extends 'template/modal.twig' %}

{% import 'macro.twig' as macro %}

{% block title %}Connexion{% endblock %}
{% block titleH1 %}Connexion{% endblock %}
{% block sousTitre %}Accéder à Allegretto{% endblock %}

{% block content %}

    <form action="action/connexion.php" method="post" class="df fd-c gap-m">

        {% if get.erreur %}
            <p class="label-erreur">Nom d'utilisateur ou mot de passe incorrect.</p>
            {% set inputErreur = true %}
        {% endif %}

        {{ macro.formElement({
            id:             'mail',
            label:          'Adresse e-mail',
            valeur:         get.mail,
            inputErreur:    get.erreur
        }) }}

        {{ macro.formElement({
            id:             'motdepasse',
            label:          'Mot de passe',
            type:           'password',
            voirMotDePasse: true,
            valeur:         get.mail,
            inputErreur:    get.erreur
        }) }}

        <button name="Submit" type="submit" class="btn mt-m">Connexion</button>
    </form>
{% endblock %}



{% block scriptFooter %}
    {{ include('js/voirMotDePasse.js') }}
    {{ include('js/validationFormulaire.js') }}
{% endblock %}



{% block symbolSvg %}
<symbol id="oeil" viewBox="0 0 24 24">
    <path d="M12,4C7.3,4,3.2,6.9,1.2,11.1c-0.3,0.6-0.3,1.3,0,1.9C3.2,17.1,7.3,20,12,20s8.8-2.9,10.8-7.1   c0.3-0.6,0.3-1.3,0-1.9C20.8,6.9,16.7,4,12,4z M12,16c-2.2,0-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4C16,14.2,14.2,16,12,16z"/>
</symbol>
{% endblock %}