{% extends 'template/modal.twig' %}

{% import 'macro.twig' as macro %}

{% block title %}Connexion{% endblock %}
{% block titleH1 %}Connexion{% endblock %}
{% block sousTitre %}Accéder à Allegretto{% endblock %}

{% block content %}

    <form action="action/connexion.php" method="post" class="df fd-c gap-form">

        {% if get.erreur %}
            <p class="label-erreur">Nom d'utilisateur ou mot de passe incorrect.</p>
            {% set inputErreur = true %}
        {% endif %}

        {{ macro.input2({
            id:             'mail',
            label:          'Adresse e-mail',
            valeur:         get.mail,
            inputErreur:    get.erreur
        }) }}

        {{ macro.input2({
            id:             'motdepasse',
            label:          'Mot de passe',
            type:           'password',
            voirMotDePasse: true,
            valeur:         get.mail,
            inputErreur:    get.erreur
        }) }}

        <script>
            function voirMotDePasse(e) {
                const input = e.parentNode.querySelector('input');
                if (e.getAttribute("password-visible") === "false") {
                    input.setAttribute("type", "text");
                    e.setAttribute("password-visible", "true");
                } else {
                    input.setAttribute("type", "password");
                    e.setAttribute("password-visible", "false");
                }
            }
        </script>

        <button name="Submit" type="submit" class="btn-1 mt-m">Connexion</button>
    </form>
   
{% endblock %}