{% extends 'template/modal.twig' %}

{% import 'macro.twig' as macro %}

{% block title %}Mot de passe oublié{% endblock %}
{% block titleH1 %}Mot de passe oublié{% endblock %}
{% block sousTitre %}Allegretto{% endblock %}

{% block content %}

    <form action="action/utilisateur-reset-password-email.php" method="post" class="df fd-c gap-m">

        {% if get.succes %}
            <p class="cadre-m bg-gris ok">
                Si l'adresse e-mail "{{get.mail}}" est associée à un compte Allegretto,
                vous recevrez un mail pour réinitialiser votre mot de passe 
            </p>
        {% else %}
            <p>Un e-mail vous sera envoyé pour réinitialiser votre mot de passe Allegretto.</p>
        {% endif %}

        {% if get.erreur1 %}
            {% set inputErreur = 'Le champ est vide' %}
        {% endif %}

        {% if get.erreurMail %}
            <p class="cadre-m bg-gris nok">
                Une erreur s'est produite, l'email n'a pas pu être envoyé.
            </p>
        {% endif %}



        {{ macro.formElement({
            id:             'mail',
            label:          'Adresse e-mail',
            valeur:         get.mail,
            inputErreur:    get.erreur1,
            erreur:         inputErreur
        }) }}

        <button name="Submit" type="submit" class="btn mt-m">
            Réinitialisez mon mot de passe
        </button>
    </form>
   
{% endblock %}



{% block scriptFooter %}
    {{ include('js/validationFormulaire.js') }}
{% endblock %}