{% extends 'template/boite.twig' %}

{% import 'macro.twig' as macro %}

{% block title %}Modifier{% endblock %}
{% block titleH1 %}Modifier le mot de passe{% endblock %}

{% block content %}

    <form action="action/utilisateur-password.php" method="post">

        <p class="text-center mb-2">{{ dechiffre(get.l) }}</p>

        <p>
            Le mot de passe saisi est <strong>sécurisé et irréversible</strong>.<br>
            Si vous le perdez, je devrai supprimer votre compte et en créer un nouveau, jusqu'au développement de la fonction de changement de mot de passe.
        </p>

        <input type="hidden" id="mail" name="mail" value="{{ dechiffre(get.l) }}">

        {% if get.erreur1 %}
            {% set inputErreur = true %}
        {% endif %}

        {{ macro.input('motdepasse', 'Nouveau mot de passe', '', '', inputErreur, 'password', {voirMotDePasse: true}) }}

        {% if get.erreur1 %}
            <p class="text-6 mb-1">Le mot de passe est vide</p>
        {% endif %}

        <script>
            function voirMotDePasse(e) {
                const input = e.parentNode.querySelector('input');
                if (e.getAttribute("password-visible") === "false") {
                    input.setAttribute("type", "text");
                    e.setAttribute("password-visible", "true");
                } else {
                    input.setAttribute("type", "password");
                    e.setAttribute("password-visible", "false");
                }
            }
        </script>

        <button name="Submit" type="submit" class="btn-1 mt-1">Changer le mot de passe</button>
    </form>
   
{% endblock %}