{% extends 'template/modal.twig' %}

{% import 'macro.twig' as macro %}

{% block title %}Créer mon mot de passe{% endblock %}
{% block titleH1 %}1ère connexion {% endblock %}
{% block sousTitre %}à Allegretto{% endblock %}

{% block content %}

    <form action="action/utilisateur-password.php" method="post" class="df fd-c gap-form">

        <p>
            Si l'adresse e-mail <strong class="exergue">{{ dechiffre(get.l) }}</strong> est associée à un compte Allegretto,<br>
            Vous êtes sur le point de réinitialiser votre mot de passe.
        </p>

        {% if get.erreur1 %}
            {% set inputErreur = 'Le champ est vide' %}
        {% endif %}

        {% if get.erreur2 %}
            {% set inputErreur = 'Le mot de passe ne peut pas être identique à l\'e-mail' %}
        {% endif %}

        {% if get.erreur1 or get.erreur2 %}
            {% set inputMotdepasseErreur = true %}
        {% endif %}

        <input type="hidden" id="mail" name="mail" value="{{ dechiffre(get.l) }}">

        {% set descriptionLabel %}
            Le mot de passe saisi est <strong class="exergue">sécurisé et irréversible</strong>.
        {% endset %}

        {{ macro.input2({
            id:             'motdepasse',
            label:          'Nouveau mot de passe',
            description:    descriptionLabel,
            type:           'password',
            erreur:         inputErreur,
            inputErreur:    inputMotdepasseErreur,
            voirMotDePasse: true
        }) }}

        {{ include('include/script-voirMotDePasse.twig') }}

        <button name="Submit" type="submit" class="btn-1 mt-1">
            Créer mon mot de passe
        </button>
    </form>
   
{% endblock %}