{% extends 'template/page.twig' %}

{% block title %}Proposer un séjour{% endblock %}

{% block content %}

    <p>Formulaire d'ajout de séjour</p>

    <ul>
        <li>Prenom : {{ session.utilisateur.prenom }}</li>
        <li>Mail : {{ decrypt(session.utilisateur.mail) }}</li>
        <li>Groupe : {{ session.utilisateur.groupe }}</li>
    </ul>

{% endblock %}