button:hover {
    cursor: pointer;
}

.btn-1 {
    @include bouton;
}

.btn-1 svg {
    fill:  var(--btn-color);
}

.btn-2 {
    @include bouton--claire;
    @include bouton;
}

.btn-3 {
    background-color: transparent;
    border: 0 none;
    text-decoration: underline;
    color: var(--btn-2-color);
}

.btn-3 svg {
    fill: var(--btn-2-color);
}

[class*="btn-"].v_petit {
    --btn-min-height: auto;
}

[class*="btn-"].v_off {
    --btn-bg:               var(--neutre-300);
    --btn-color:            var(--neutre-700);
}