// Par défaut
button, 
a {
    position: relative; //pour le loader

    display: inline-grid;
    place-items: center;

    border: 1px solid transparent;
    background-color: transparent;
    color: var(--color-bleu-600); //accessible sur bg-gris
    text-decoration: underline;
    text-align: start;

    svg {   fill: currentColor}

    &:hover,
    &:focus-visible { 
        color: var(--color-bleu-800)
    }

}

// Principal
.btn {
    @include btn;

    background-color: var(--btn-bg);
    color: var(--btn-color);

    &:hover,
    &:focus-visible { 
        background-color: var(--btn-bg-hover);
        color: var(--btn-color);
    }
}

// Disabled
.btn[disabled] {
    background-color: var(--color-body-border);
    cursor: not-allowed;
}

// Disabled + loader
.btn[disabled]:has(.loader) {
    padding-right: calc(var(--btn-padding-inline) * 2 + var(--loader-taille));
    cursor: wait;
}

// pour aller dans un input-group
.btn.v-outline {
    --btn-border:   var(--btn-outline-border);
    --btn-bg:       var(--btn-outline-bg);
    color:          var(--btn-outline-color);

    &:hover:not([disabled]),
    &:focus-visible:not([disabled]) { 
        border-color:   var(--btn-outline-hover-border);
        color:          var(--btn-outline-hover-color);
    }

    &[disabled] {
        color: var(--color-blanc);
    }
}

// petit bouton
.btn.v-petit {
    @include btn--petit;
}