// Par défaut
button, 
a {
    position: relative; //pour le loader

    display: grid;
    place-items: center;
    width: max-content;
    max-width: 100%;

    border: 1px solid transparent;
    background-color: transparent;
    color: var(--color-bleu-600); //accessible sur bg-gris
    text-decoration: underline;
    text-align: start;

    svg {   fill: currentColor}

    &:hover,
    &:focus-visible { 
        color: var(--color-bleu-800)
    }

}

// Principal
.btn {
    min-height: var(--btn-min-height);
    padding-inline: var(--btn-padding-inline);

    border-radius: var(--radius-s);
    border-color: var(--btn-border);
    text-decoration: none;

    background-color: var(--btn-bg);
    color: var(--btn-color);

    &:hover,
    &:focus-visible { 
        background-color: var(--btn-bg-hover);
        color: var(--btn-color);
    }
}

// Disabled
.btn[disabled] {
    background-color: var(--color-body-border);
    cursor: not-allowed;
}

// Disabled + loader
.btn[disabled]:has(.loader) {
    padding-right: calc(var(--btn-padding-inline) * 2 + var(--loader-taille));
    cursor: wait;
}

// pour aller dans un input-group
.btn.v-outline {
    --btn-border:   var(--form-border);
    --btn-bg:       var(--form-bg);
    color:          var(--form-color);

    &:hover:not([disabled]),
    &:focus-visible:not([disabled]) { 
        border-color:   var(--btn-bg-hover);
        color:          var(--color-blanc);
    }

    &[disabled] {
        color: var(--color-blanc);
    }
}

// petit bouton
.btn.v-petit {
    --btn-min-height: auto;
    padding-block: calc(var(--btn-padding-inline) / 5);
    padding-inline: calc(var(--btn-padding-inline) / 2);
}

/*
Ancienne version

.btn-2 {
    --btn-bg:               var(--btn-2-bg);
    --btn-border:           var(--btn-2-border);
    --btn-color:            var(--btn-2-color);
}

.btn-3,
.btn-4 {
    background-color: transparent;
    border: 0 none;
    text-decoration: underline;
}

.btn-3 {
    color: var(--btn-2-color);
}

.btn-3 svg {
    fill: var(--btn-2-color);
}

.btn-4 {
    color: var(--neutre-700);
}

[class*="btn-"].v_off {
    --btn-bg:               var(--neutre-300);
    --btn-color:            var(--neutre-700);
}

[class*="btn-"][disabled] {
    padding-right: calc(var(--btn-padding-inline) * 2 + var(--loader-taille));
    background-color: grey;
    cursor: wait;
}
*/