.cadre-m {
    padding: var(--cadre-m-marge);

    @include breakpoint('large'){
        border-radius: var(--cadre-m-radius);
    }
}

@include breakpoint('smallOnly'){
    .cadre-m.v_calendar {
        padding-inline: 0;
    }
}

.cadre-s {
    padding: var(--cadre-s-marge);
    border-radius: var(--cadre-s-radius);
}