.cadre-m {
    padding: var(--spacing-m);

    @include breakpoint('large'){
        border-radius: var(--radius-m);
    }
}

@include breakpoint('smallOnly'){
    .cadre-m.v_calendar {
        padding-inline: 0;
    }
}

.cadre-s {
    padding: var(--spacing-s);
    border-radius: var(--radius-s);
}