.df {
    display: flex;
}
.fd-c {
    flex-direction: column;
}
@include breakpoint('medium'){
    .fd-c--medium {
        flex-direction: column;
    }
}

.ai-c {
    align-items: center;
}
.fg-1 {
    flex-grow: 1;
}
.fw-w {
    flex-wrap: wrap;
}

.row {
    margin-right: -$padding-cadre;
    margin-left: -$padding-cadre;
}

.col {
    padding-right: $padding-cadre;
    padding-left: $padding-cadre;
}

.col-dashboard {
    flex: 0 0 auto;
    width: 50%;

    @include breakpoint('dashboard'){
        flex: 0 0 auto;
        width: 100%;
    }
}

.scroll {
    max-width: 100vw;
    overflow: auto;
}