.df {
    display: flex;
    gap: 1rem;
}
.fd-c {
    flex-direction: column;
}
@include breakpoint('medium'){
    .fd-c--medium {
        flex-direction: column;
    }
}

.fd--dashboard {
    flex-direction: column;
    @include breakpoint('dashboard'){
        flex-direction: row;
    }
}

.ai-c {
    align-items: center;
}
.fg-1 {
    flex-grow: 1;
}
.fw-w {
    flex-wrap: wrap;
}

.w-50 {
    flex: 0 0 100%;
    @include breakpoint('dashboard'){
        flex: 0 0 50%;
    }
}
@include breakpoint('dashboard'){
    .w-50 + .w-50 {
        margin-left: 1rem;
    }
}

.scroll {
    max-width: 100vw;
    overflow: auto;
}