.bg-blanc {      background-color: var(--color-body-bg)}
.bg-gris {       background-color: var(--color-body-bg-dark)}

.bg-bleu {       background-color: var(--color-bleu-500)}
.bg-jaune {      background-color: var(--color-jaune-500)}
.bg-ciel {       background-color: var(--color-bleu-100)}

.bg-valide {     background-color: var(--color-valide); color:var(--color-sejour)}
.bg-soumis {     background-color: var(--color-soumis); color:var(--color-sejour)}

//surcharge
.bg-jaune {
    --color-body-titre: var(--color-bleu-900);
}