:focus-visible {
    outline-offset: #{rem.convert(2px)};
    outline-color: var(--color-body-exergue);
    outline-width: var(--outline-width);
    border-radius: 0;
}

body {
    font-family: system-ui, sans-serif;
    background-color: var(--color-body-bg);
    color: var(--color-body);
}

.exergue {
    color: var(--color-body-exergue);
}

ol,
ul {
    list-style: none;
}

.titre,
.sous-titre {
    color: var(--color-body-titre);
    font-weight: var(--text-gras);
    line-height: 1.1;
}

.titre {        font-size: 1.5rem}
.sous-titre {   font-size: 1.1rem}

.font-400 {
    font-weight: 400;
}

.font-700,
strong {
    font-weight: var(--text-gras);
}

.clair {  color: var(--color-body-light)}
.ok {     color: var(--color-body-ok)}
.nok {    color: var(--color-body-nok)}

.ok svg,
.nok svg {
    fill: currentColor;
} 

.liste {
    list-style-position: inside;
    list-style-type: disc;
}

thead {
    color: var(--color-body-exergue);
    font-weight: var(--text-gras);
}

tbody td {
    border-top: 1px solid var(--color-body-border);
}

tbody tr:first-child td {
    border-top: 2px solid var(--color-body-exergue);
}