:focus-visible {
    outline-offset: #{rem.convert(2px)};
    outline-color: var(--primary-400);
    outline-width: var(--outline-width);
    border-radius: 0;
}

body {
    font-family: system-ui, sans-serif;
    background-color: var(--neutre-100);
    color: var(--neutre-700);
}

h1,
h2,
h3,
h4,
h5,
h6,
.exergue {
    color: var(--neutre-900);
}

ol,
ul {
    list-style: none;
}

.titre {
    @include titre
}

.sous-titre {
    font-size: 1rem;
    font-weight: 600;
}

.clair {
    color: var(--neutre-500);
}

.font-400 {
    font-weight: 400;
}

.font-700,
strong.exergue {
    font-weight: 600;
}