$cadre-padding: 3rem;

.cadre1 {
    position: relative;
    border-radius: 50% / 10%;
    padding: $cadre-padding;
}

@include breakpoint('cadre1') {
    .cadre1:after {
        content: '';
        position: absolute;
        top: 9%;
        bottom: 9%;
        right: -4.5%;
        left: -4.5%;
        border-radius: 5% / 50%;
        background: inherit;
        z-index: -1;
    }
}

.cadre2 {
    padding: $padding-cadre;
    box-shadow: $ombre;
    border-radius: $form-radius;
    background-color: var(--couleur3);
}

.cadre3 {
    padding: $padding-cadre;
    border-radius: 1rem $form-radius;
    background-color: var(--couleur5);
}