.dialog {
    width: 100%;
    max-width: 50ch;
    margin: auto;
    border: 0;
    border-radius: var(--radius-m);
}

.dialog::backdrop {
    background-color: var(--color-gris-700);
    opacity: .8;
}