.fc-surcharge {

    .fc {
        flex-grow: 1;
    }

    // bouton
    .fc .fc-button-primary {
        @include bouton;
        @include bouton--claire;
    }

    // année précédente, title, année suivante
    .fc .fc-toolbar .fc-toolbar-chunk:nth-child(2) {
        display: flex;
        align-items: stretch;
    }
    .fc .fc-toolbar .fc-toolbar-chunk:nth-child(2) > * {
        margin:0;
    }
    .fc .fc-toolbar .fc-toolbar-chunk:nth-child(2) > :first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .fc .fc-toolbar .fc-toolbar-chunk:nth-child(2) .fc-toolbar-title {
        display: flex;
        align-items: center;
        padding-inline: var(--btn-padding-inline);
        border-top: 1px solid var(--form-border);
        border-bottom: 1px solid var(--form-border);
        font-size: 1rem;
        color: var(--primary-400);
    
    }
    .fc .fc-toolbar .fc-toolbar-chunk:nth-child(2) > :last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    //toolbar mobile
    @include breakpoint(smallOnly) {
        .fc .fc-toolbar.fc-header-toolbar {
            margin-inline: .2rem;
        }
        .fc .fc-button-primary {
            padding: .4rem .3rem;
            min-height: auto;
        }
    }

    //numéro de la semaine
    .fc .fc-daygrid-week-number {
        background-color: var(--neutre-100);
        color: var(--neutre-700);
        font-size: .8rem;

        @include breakpoint(smallOnly) {
            display: none;
        }
    }
}