
body .fc {
    flex-grow: 1;
}

body .fc-header-toolbar.fc-toolbar {
    @include breakpoint('smallOnly') {
        flex-direction: column;
    }
}

body .fc .fc-toolbar-title {
    font-size: 1.3rem;
    font-weight: 400;
}

.fc-toolbar button {
    width: auto;
    min-height: 0;
}

