$page-menu: 51.25rem;   // 820px

.header {
    margin-bottom: 1rem;
    color: var(--couleur1);

    @include breakpoint('menu') {
        margin: -.8rem 0 .8rem;
    }
}

.header h1 {
    font-size: 1rem;

    @include breakpoint('menu') {
        display: none;
    }
}

.header ul {
    width: 100%;
    justify-content: flex-start;
    padding-bottom: .1rem;

    @include breakpoint('menu') {
        justify-content: space-around;
    }

}

.header li {
    margin: 0 2rem;
    @include breakpoint('menu') {
        margin: 0;
    }
}

.header a {
    padding: 0; //reset des style de base
    color: var(--couleur4);
}

.header a span {
    @include breakpoint('menu') {
        display: none;
    }
}

.header svg {
    margin-right: .4rem;
    fill: var(--couleur1);

    @include breakpoint('menu') {
        margin-right: 0;
        width: 30px;
        height: 30px;
    }
}

.header a svg {
    fill: var(--couleur4)
}