.lien-evitement {
    position: absolute;
    left: -99999rem;
    padding: #{rem.convert(10px)};
    outline-offset: 0;
    margin: calc(var(--outline-width) * 2);
}

.lien-evitement:focus {
    position:absolute;
    left:0
}