.nav {
    padding-inline: var(--spacing-m);

    @include breakpoint('smallOnly') {
        border-bottom: 1px solid var(--nav-border);
    }

    @include breakpoint('medium') {
        padding: 0 var(--spacing-m) 0 0;
        margin-bottom: var(--app-main-gap);
    }

    @include breakpoint('large') {
        border-radius: var(--radius-m);
        margin-block: var(--app-main-gap);
    }
}

.nav__logo {
    width: #{rem.convert(90px)};
}

@mixin navItem {
    background-color: transparent; //bouton mobile
    border-bottom-width: #{rem.convert(2px)};
    border-bottom-style: solid;
    color: var(--color-gris-900);
    letter-spacing: #{rem.convert(1px)};
}

.nav__link {
    @include navItem;
    text-decoration: none;
    border-color: transparent;
    transform: rotate(0deg);
    transition: transform .3s ease;
}

button.nav__link {
    border: 0 none;
}

.nav__link:not(button):hover {
    border-bottom-color: var(--color-bleu-300);
}

.nav__link.v-rotation {
   transform: rotate(45deg); 
}


.nav__link__icon {
    fill: var(--color-bleu-500);

    @include breakpoint('medium') {
        display: none;
    }
}

.nav__link__text {
    @include breakpoint('smallOnly') {
        display: none;
    }
}

.nav__active {
    @include navItem;
    border-color: var(--color-bleu-500);
}
