$form-radius:               1rem;
$form-min-height:           3rem;
$form-min-height--small:    1.87rem;
$form-padding:              1rem;

$ombre: 0 8px 16px #0000001a,0 0 1px #0000000d;

$padding-cadre: 1rem;
$padding-lien: 1rem;

$page-larger:       75rem;      // 1200px
$page-large:        68.75rem;   // 1100px
$page-dashboard:    56.25rem;   // 900px
$page-menu:         43.75rem;   // 700px
$page-medium:       40.875rem;  // 654px
$page-small:        27.5rem;    // 440px
$page-cadre1:       33.75rem;   // 540px


:root {
    --couleur1: #1d63ff;
    --couleur2: #ffce32;
    --couleur3: #ffffff;
    --couleur4: #121722;
    --couleur5: #e8f2ff;
    --couleur6: #B40001;
    --couleur9: #fdeded;

    --couleur10: #f2f5f6;
}




.fill-1 { fill: var(--couleur1)}
.fill-2 { fill: var(--couleur2)}
.fill-7 { fill: var(--couleur7)}
.fill-8 { fill: var(--couleur8)}

.btn-5 {
    background-color: transparent;
    border: 0 none;
    font-size: 1rem;
}



//old page séjour


