$taille-vague: 69px;
$taille-vague--smallOnly: 30px;

.vague {
    padding-top: $taille-vague;
    
    @include breakpoint('smallOnly'){
        padding-top: $taille-vague--smallOnly;
    }
}

.vague__forme {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.vague__haut,
.vague__bas {
    position: relative;
    display: block;
}

.vague__haut {
    width: calc(129% + 1.3px);
    height: $taille-vague;
    fill: var(--couleur1);
    
    @include breakpoint('smallOnly'){
        height: $taille-vague--smallOnly;
    }
}

.vague__bas {
    width: calc(109% + 1.3px);
    height: 30px;
    fill: var(--couleur3);
}