$taille-vague: 69px;
$taille-vague--smallOnly: 30px;

.vague {
    position:relative;
    padding-top: $taille-vague;
    
    @include breakpoint('smallOnly'){
        padding-top: $taille-vague--smallOnly;
    }
}

.vague__forme {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.vague__forme svg {
    position: relative;
    display: block;
    width: calc(129% + 1.3px);
    height: $taille-vague;
    
    @include breakpoint('smallOnly'){
        height: $taille-vague--smallOnly;
    }
}

.vague__fill {
    fill: var(--couleur1);
}